/* HEADER */
/* NAV */
/* FIXED BAR */
header nav .fixed_bar{
  position: fixed;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #32495B;
}

header nav .fixed_bar .text_fl_box{
  line-height: 70px;
  font-size: 18px;
}
/* left part */
nav .fixed_bar li{
  text-decoration: none;
  display: inline;
}
nav .fixed_bar .text_fl_left .vertical_bar{
  height: 18px;
  width: 1px;
  background-color: black;
  display: inline-block;
  vertical-align: middle;
  margin-right: 25px;
}
nav .fixed_bar .text_fl_left a{
  text-decoration: none;
  color: #32495B;
}
/* left part */

/* FIXED BAR */

/* SELECT PART */
nav .select_part{
  height: 70px;
  line-height: 70px;
}
nav .select_part img{
  vertical-align: middle;
}
nav .select_part li{
  text-decoration: none;
  display: inline;
}
nav .select_part .text_fl_box  li{
  text-decoration: none;
  display: inline-block;
  margin-left: 25px;
}
nav .select_part .text_fl_box  li select{
  font-size: 15px;
  font-weight: bold;
  padding-right: 20px;
}
/* SELECT PART */
/* NAV */
/* INTRODUCTION */
#jumbo{
  height: 725px;
}
#jumbo .container{
  position: relative;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-size: 1600px;
  background-position-x: right;
  background-position-y: 31%;
  height: 725px;
}
#jumbo .container .row .col_50 > *{
  margin-bottom: 25px;
}
#jumbo .container .row h1{
  font-weight: bolder;
}
#jumbo .container .row p{
  font-size: 18px;
  line-height: 30px;
}
#greenspace{
  position: absolute;
  bottom: 0;
  border-top: 3px solid #32495B;
  border-bottom: 3px solid #32495B;
  margin-left: -15%;
}
/* INTRODUCTION */
/* HEADER */

/* MAIN */
/* MOTIVATIONAL PART */
#motivational_part{
  text-align: center;
  margin: 0 auto;
  width: 60%;
}
#motivational_part > *{
  margin-bottom: 30px;
}
#motivational_part img{
  height: 250px;
}
#motivational_part p{
line-height: 35px;
font-weight: bold;
margin-bottom: 50px;
}
/* MOTIVATIONAL PART */
/* INFO PART */

/* for all spot */
#info .row div[class^="col_"] > .box {
  box-shadow: 0px 0px 10px 1px #cecece;
  border-radius: 5px;
  background-color: white;
}
#info .box h2{
  margin-bottom: 35px;
  font-size: 30px;
  font-weight: bolder;
}
#info .box p{
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}
#info .box span{
  font-weight: bolder;
  text-transform: uppercase;
}
#info .box ul li:before{
  margin-right: 10px;
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-weight: 900;
  color: #FE775A;
}
#info .box ul{
  margin-top: 30px;
}
#info .box ul li i{
  color: #FE775A;
}
/* for all spot */
/* free spot */
#info .free_spot .col_33{
  text-align: center;
  padding: 70px;
}
#info .free_spot .col_33 img{
  height: 130px;
  margin: 30px 0;
}
#info .free_spot .col_66{
  padding: 100px 100px 100px 0;
}
#info .free_spot .col_66 .line{
  width: 60%;
  height: 2px;
  display: inline-block;
  background-color: #32495B;
  vertical-align: middle;
  margin-left: 30px;
}
#info .free_spot .col_66 ul li{
   display: inline-block;
   list-style-type: none;
}
/* free spot */
/* other spot */
#info .other_spot{
  text-align: center;
}
#info .other_spot .col_33 .box{
  padding: 40px;
  margin-right: 5%;
  margin-left: 5%;
}
#info .other_spot .col_33:first-child .box{
  margin-right: 5%;
  margin-left: 0;
}
#info .other_spot .col_33:last-child .box{
  margin-right: 0;
  margin-left: 5%;
}
#info .other_spot .col_33 .line{
  background-color: #32495B;
  margin: 60px auto 30px auto;
  height: 2px;
  width: 100%
}
#info .other_spot .col_33 ul li{
  list-style-type: none;
  text-align: left;
}
/* other spot */
/* INFO PART */

/* PROPAGANDA */
#propaganda {
  text-align: center;
}
#propaganda > .row > .col_100 {
  /* TODO: capire perche bisognia mettere per forza 15% */
  width: 70%;
  margin: 0 15%;
  padding: 60px 0;
}
#propaganda .col_100 .col_25 li{
  list-style-type: none
}
#propaganda > .row > .col_100 h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
#propaganda > .row > .col_100 p {
  margin-bottom: 40px;
}
/* inside col_25 */
#propaganda .col_25 > ul > li img{
  margin: 20px 0;
}
#propaganda .col_25 > ul > li:nth-child(2){
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
}
#propaganda .col_25 .plus:before {
  text-decoration: none;
  content: "+";
  font-size: 30px;
  display: inline;
}
/* inside col_25 */

/* border */
#propaganda > .row > .col_100 > .box .row:first-child{
  border-bottom: 1px solid white;
}
#propaganda > .row > .col_100 .col_25 {
  border-right: 1px solid white;
}
#propaganda > .row > .col_100 .col_25:last-child {
  border-right: 0;
}
/* border */
/* PROPAGANDA */
/* MAIN */

/* FOOTER */
/* SPONSOR */
#sponsor{
  margin-bottom: 50px;
}
#sponsor .agency {
  width: 70%;
  margin: 0 auto;
  margin-top: 70px;
}
/* agency text */
#sponsor .agency .col_33{
  padding: 0 6em;
}
#sponsor .agency .col_33 li{
  list-style-type: none;
  margin-bottom: 5px;
}
#sponsor .agency .col_33 h2{
  font-size: 40px;
  margin-bottom: 30px;
}


/* agency text */
/* agency logo */
#sponsor .agency .col_66 .box{
  padding: 0 80px;
}
#sponsor .agency .col_66 .box .row{
  margin-bottom: 25px;
}
#sponsor .agency .col_66 .col_25 {
  position: relative;
  text-align: center;
  height: 50px;
}
#sponsor .agency .col_66 .col_25 img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  min-width: 100px;
}
/* agency logo */
/* woman */
#sponsor .woman{
  width: 70%;
  margin: 0 auto;
  margin-top: 50px;
}
#sponsor .woman .col_50{
  position: relative;
}
#sponsor .woman .col_50:first-child{
  padding: 40px 10% 0 0;
}
#sponsor .woman img{
  position: absolute;
  right: 0;
  width: 45%;
  min-width: 250px;
}
#sponsor .woman li{
  list-style-type: none;
}
#sponsor .woman li h2{
  font-size: 35px;
  margin-bottom: 40px;
}
#sponsor .woman li button{
margin: 45px 0;
}
#sponsor .woman li span{
  font-size: 13px;
  font-weight: bolder;
}
/* woman */
/* SPONSOR */
/* LINK */
#link{
  color: #F4F9FD;
  padding: 40px 0;
}
#link > *{
  width: 70%;
  margin: 0 auto;
}
#link li{
  list-style-type: none;
}
/* all link */
#link .col_25 ul li{
  margin: 15px 0;
}
#link .col_25 h3{
  margin-bottom: 20px;
}
#link .col_25 ul a{
  text-decoration: none;
  color: #F4F9FD;
}
/* all link */
/* support */
#link > .support .col_25{
  float: right;
}
#link > .support .col_25 .row{
  margin-top: 20px;
  width: 68%;
}

/* support */
/* lenguage */
#link .languege {
  margin-top: 80px;
  margin-bottom: 20px;
  text-align: center;
}
#link .languege li{
  display: inline-block;
  margin: 0 15px;
}
/* lenguage */
#link hr{
  height: 1px;
}
/* copyright */
#link .copyright{
  margin-top: 30px;
}
#link .copyright:after{
  clear: both;
  content: "";
  display: table;
}
#link .copyright .left_part{
  float: left;
}
#link .copyright .right_part{
  float: right;
}
#link .copyright .right_part span{
  margin-right: 30px;
}
/* copyright */
/* LINK */
/* FOOTER */
